version: '2'
services:
  #######################################
  # PHP application Docker container
  #######################################
  app:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: natansdj/php-apache-node
    container_name: d_prj_hayy
    external_links:
      - dev_mysql:mysql
    networks:
      - default
    ports:
      - "8000:80"
    #   - "8443:443"
    #   - "10022:22"
    volumes:
      - storage:/storage
      - ../_htdocs_gh/hayy_lara_admin/:/app/
      - ./:/docker/
    # cap and privileged needed for slowlog
    cap_add:
      - SYS_PTRACE
    privileged: true
    env_file:
      - etc/environment.yml
      - etc/environment.development.yml
    environment:
      VIRTUAL_HOST: "hayy.vm"
      VIRTUAL_PORT: "80"
      # PHP_XDEBUG_ENABLED: 1
      # PHP_IDE_CONFIG: serverName=hayy.vm
      # XDEBUG_CONFIG: remote_host=172.18.0.1 remote_connect_back=1

#######################################
# Storage
#######################################
volumes:
  storage:
    driver: local
    driver_opts:
      device: /home/ip310/Documents/dc_prj_hayy/backup
      o: bind

networks:
  default:
    external:
      name: dev
